/*  This file is part of WebWareBox.

    WebWareBox is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WebWareBox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with WebWareBox.  If not, see <https://www.gnu.org/licenses/>.
*/

/*
    (For Developers)
    This is the Stylesheet(.css) File for this WebWareSite. It controls and modifies the Looks of the Website
    and Components like Buttons and Positions

    (For People using the Inspect-Tool)
    PLEASE DO NOT TOUCH ANYTHING IN THIS CSS-FILE. DOING SO, YOU MAY BREAK SOMETHING. IF YOU DO HAPPEN TO
    BREAK SOMETHING, PLEASE REFRESH THE PAGE.
*/

/* Controls most of the stuff seen on the Site(E.g. Background, Main-Font etc.) */
body {
    /* Font-Related Settings */
    font-family: sans-serif;
    /* Add a Gradient-Background */
    background-image: linear-gradient(white, black);
    /* Adjust the Background-Size and stop it from tiling */
    background-repeat: no-repeat;
    background-size: 3000px 2800px;
}

/* All Settings related to the <button> Element */
button {
    /* Give the Button a Gradient-Background and a Rounded-Border */
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#81d971, #438237);
    /* Change the Font-Size of the Button and the Font's Colour */
    font-size: 16px;
    color: white;
}

/* A Hover-Effect for the Buttons */
button:hover {
   /* Give some sort-of Highlight-Effect when the Button is being Hovered over
      by changing the Background-Gradient.
   */
   background-image: linear-gradient(#a8f59a, #72c462);
   /* Also add a Shadow-Dropdown Effect when the Button is being hovered over. */
   box-shadow: 0px 3px 5px black;
}

/* CSS Code that customizes the Tables */
table, th, td {
    /* Add a Rounded-Border to the Tables */
    border: 2px solid #a8d1e6;
    border-radius: 3px;
    /* Add a Background to the Table and change the Font-Colour*/
    background-color: #204557;
    color: white;
    /* Align the Text and Table in the middle of the Page */
    margin: auto;
    text-align: center;
    /* Adjust the Width of the Table */
    width: 40%;

}

table {
    /* Add a Drop-Shadow Effect around the Table */
    box-shadow: 0px 0px 5px black;
}

/* Modify the <textarea> Element to only have a Round-Border */
textarea {
    /* Add a Border to the Box */
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    display: block;
    /* Add a Drop-Shadow to the Textarea */
    box-shadow: 0px 0px 5px black
}

/* CSS related to anything of the <form> Tag */
input {
    /* Align the Form in the middle */
    text-align: center;
    display: block;
    margin: auto;
    /* Add a Rounded-Border around the Boxes */
    border: 1px solid black;
    border-radius: 5px;
    /* Increase the Text-Size */
    font-size: 17px;
    /* Add a Drop-Shadow to the Input-Boxes */
    box-shadow: 0px 0px 5px black;
}

label {
    /* Align the Label in the middle */
    text-align: center;
    margin: auto;
    display: block;
}

.NavigationMenu {
    /* Position the Buttons of the Navigation-Menu */
    margin: auto;
    /* Add a Background to the Menu */
    background-color: aliceblue;
    /* Add a Rounded-Border for the Background */
    border-radius: 20px;
    /* Adjust the Width of the Background */
    width: 375px;
}

.page{
    /* Add top margin / bottom margin, center */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Adjust the Width and Height */
    width: 25%;
    height: 460px;
    /* Add a Rounded-Border and Background */
    background: #F2F2F2;
    border: 1px solid black;
    border-radius: 5px;
}

.txtcenter{
    text-align:center;
}

.software_page {
    /* Add top margin / bottom margin, center */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Adjust the Width and Height */
    width: 85%;
}

/* CSS for the Dashboard Page */
.Dashboard {
    /* Add a Rounded-Border and Background */
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 5px;
}

/* CSS for the Info Container displayed at the bottom of the Page */
#info {
    /* Add a Background to the Container */
    background-color: #f2f2f2;
    /* Add a Rounded-Border to the Container */
    border: 1px solid black;
    border-radius: 5px;
    /* Adjust the Width of the Container */
    width: 100%;
    /* Position the Container in the middle */
    margin: auto;
    /* Also Position the Container so it sticks to the very bottom of the Page. */
    position: fixed;
    bottom: 0;
    /* Align the Text to be in the middle */
    text-align: center;
}

#ContactButton {
    /* Position the Button to be fixed at the bottom of the Page */
    position: fixed;
    bottom: 5px;
    left: 20px;
}

/* CSS Code for the Contact-Boxes */

#Subject_box {
    /* Add a Border to the Box */
    border-radius: 5px;
    border: 1px solid black;
}

.News_Area {
    /* Align the Page Content in the center */
    text-align: center;
    margin: auto;
    /* Add a Rounded-Border and Background to the Page */
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    /* Adjust the Width of the Page */
    width: 65%;
}

/* CSS Settings for the Contact-Notice Board */
.contact_notice {
    /* Change the Background to a dark-grey and the Text to white */
    background-color: darkgrey;
    color: white;
    /* Add a Rounded-Border */
    border: 1px solid black;
    border-radius: 5px;
    /* Align everything in the center(Just above the actual Form) */
    margin: auto;
    /* Adjust the Width */
    width: 35%;
}
